## Blind all questions

In [ ]:
https://www.teamblind.com/post/Facebook-Data-Engineer-interview-prep-help-hfGjWggm

## Glassdoor

1. Replace None value with previous value present in a list.
2. Given a ´dictionary, print the key for nth highest value present in the dict. If there are more than 1 record present for nth highest value then sort the key and print the first one.
3. Given two sentences, you have to print the words those are not present in either of the sentences.(If one word is present twice in 1st sentence but not present in 2nd sentence then you have to print that word too)
4. Forgot another question
you have to pass all the cases, specially on edge cases.

1. Replace None value with previous value present in a list.

In [173]:
A = [1,4,None,None,3]
def none_replace(ls):
    ret = []
    prev_val = None
    for i in ls:
        if i is not None:
            prev_val = i
            ret.append(i)
        else:
            ret.append(prev_val)
    return ret

print('Replaced None List:', none_replace(A))

Replaced None List: [1, 4, 4, 4, 3]

2. Given a ´dictionary, print the key for nth highest value present in the dict. If there are more than 1 record present for nth highest value then sort the key and print the first one.

In [195]:
# method without import any packages
def smallestkey(dt, N):
    if N == 0:
        return print("There is no highest value")
    else:
        highestN = dict(sorted(dt.items(), key = lambda x: x[1], reverse = True)[:N])
        smallestkey = min(highestN.items(), key = lambda x:x[1])[0]
        return smallestkey
mydict = {'a': 1, 'b': 2, 'c': 100, 'd': 30}
smallestkey(mydict, 2)

'd'

In [197]:
def smallestkey(d, N):
    if N == 0:
        return None
    else:
#         highestN = dict(sorted(dt.items(), key = lambda x: x[1], reverse = True)[:N])
        highestN = dict(sorted(d.items(), key = lambda x: x[1], reverse = True)[:N])
        minkey = min(highestN.items(), key = lambda x: x[1])[0]
        return minkey
mydict = {'a': 1, 'b': 2, 'c': 100, 'd': 30}
smallestkey(mydict, 2)

'd'

In [198]:
from operator import itemgetter
# Initialize dictionary
test_dict = {'gfg' : 1, 'is' : 4, 'best' : 6, 'for' : 7, 'geeks' : 3 }
N = 3
res = dict(sorted(test_dict.items(), key = itemgetter(1), reverse = True)[:N])
# print(res)
highestN = min(res.items(), key = lambda x: x[1])
print(highestN[0])

is

3. Given two sentences, you have to print the words those are not present in either of the sentences.(If one word is present twice in 1st sentence but not present in 2nd sentence then you have to print that word too)

In [61]:
# Given two sentences, you have to print the words those are not present in either of the sentences.
def list_difference(A, B):
    if len(a) == 0:
    return set(A.split(' ')) ^ set(B.split(' '))

In [62]:
#Driver code
A = "Geeks for Geeks" 
B = "Learning from Geeks for Geeks"
print(list_difference(A, B))

{'Learning', 'from'}

https://leetcode.com/discuss/interview-question/1146384/fb-de-python-questions

1. Given an array of integers, we would like to determine whether the array is monotonic (non-decreasing/non-increasing) or not.

In [192]:
def isMontonic(A):
    return (all(A[i] <= A[i+1] for i in range(len(A)-1) or all(A[i] >= A[i+1] for i in range(len(A)-1))))

exp = [1, 2, 3]
isMontonic(exp)

True

2. Replace None with previous element from List, there was some challenges
[1,4,None,None,3]===> [1,4,4,4,3] (take care of first string being None)

In [203]:
A = [1,4,None,None,3]
def none_replace(A):
    p = None
    res = []
    if A[0] == None:
        res.append(A[0])
    for i in A:
        if not i:
            p = i
            res.append(p)
    return res
print('Replaced None List:', none_replace(A))

Replaced None List: [None, None]

In [86]:
A = [1,4,None,None,3]
def non_replace(A):
    p = None
    res = []
    for i in A:
        if i is not None:
            p = i
            res.append(i)
        else:
            res.append(p)
    return res
print('Replaced None List:', none_replace(A))

Replaced None List: [1, 4, 4, 4, 3]

3. find s in missisipi - print the index

In [87]:
l = []
for i, char in enumerate('mississippi'):
    if char == 's':
        l.append(i)
print("the index of s is: ", l)

the index of s is:  [2, 3, 5, 6]

In [199]:
def countl(s, c):
    res = 0
    for i in range(len(s)):
        if s[i] == c:
            res += 1
    return res
# Driver code
str= "geeksforgeeks"
c = 'e'
print(countl(str, c))

4

12. Calculate the average word length.
    For the given set of words return the average word length.
    str.split()

In [44]:
# Avg length of words, some of the edge cases are having spaces in the beginning and end of the words, 
#returning a float instead of int, 
# returning None for blank input.
ls = " i love my baby marco "

def avg_len(ls):
    if len(ls.strip()) == 0:
        print("None") 
    else:
        res = [len(i) for i in ls.strip().split(' ')]
        avg_len = sum(res)/float(len(res))
        return avg_len

avg_len(ls)

3.2

In [200]:
def avg_len(s):
    a = s.strip().split(' ')
    if len(a) == 0:
        return None
    else: 
        res = [len(i) for i in a]
        avg = sum(res)/len(res)
    return avg
ls = " i love my baby marco "
avg_len(ls)

3.2

In [52]:
my_string = " i love my baby marco "

def avglen(ls):
    temp = [len(i) for i in ls.strip().split(' ')]
    if len(temp) == 0:
        res = 0
    else:
        res = sum(temp)/float(len(temp))
    return res
avglen(my_string)

3.2

## 地里 1

https://www.1point3acres.com/bbs/thread-686255-1-1.html

Python:
题目和这个帖子里提到的完全一样，至少前4题均是如此。需要注意的是面试官不让使用built-in modules, e.g. Counter or re，所以我自己写了个counter dictionary计数。

test case在coderpad里都能看到，非常有助于想corner case.

SQL:
1. % of promotion. 和上面引用的帖子一样，case when...then 轻松解决
2. X with top 5 Y (抱歉X和Y记不清了）, order by Y in descen‍‍‍‍‍‍‍‌‌‌‍‍‍‌‌‍‍‌‌ding order. Having 即可解决，记得将结果乘以100得到百分数。
3. % of sales that had promotion happening on either 1st day or last day of promotion period. 需要inner join两张table + case when, 需要注意的是要将结果从integer转成float，
否则只会得到0. 我在data type conversion上我卡了很久，最后用了cast，但感觉面试官不是很满意 = =

## 地里 2

https://www.1point3acres.com/bbs/forum.php?mod=viewthread&tid=663905&extra=page%3D1%26filter%3Dsortid%26sortid%3D311%26searchoption%5B3088%5D%5Bvalue%5D%3D13%26searchoption%5B3088%5D%5Btype%5D%3Dradio%26searchoption%5B3046%5D%5Bvalue%5D%3D2%26searchoption%5B3046%5D%5Btype%5D%3Dradio%26sortid%3D311%26orderby%3Ddateline

2020(7-9月) DataEng 博士 全职@Facebook - 猎头 - 技术电面  | Pass/Offer | 在职跳槽
过去的两周一直忙着准备facebook的Data Eng的电面，本人经历了两轮电面 第一轮python + sql，第二轮单独sql，好在有惊无险，顺利通过，但无奈data eng没有head count，只能寄希望于以后有head count之后再onsite。在这里发面经求bless

总体感觉是不难，题目都见过，主要压力在于如何在短时间内想到corner case，debug，并顺利把题目做完。
这里一句忠告：哪怕是见到之前刷过的题目，不要表现的太过兴奋，先入为主。一定要把题目重新分析一遍。 在写题目之前一定先把思路理顺，跟面试官交流，得到sounds good以后再开始写，这样也会节约很多时间。

面试题目跟地里其他人说的题目一样，题库就那么几道题目，python一共5道题，sql也是5道，过的标准大概是3 + 3，第四道题目说个思路就可以了。我python做到了第5题，第四题和第五题都是新题，另外跟大家分享一下我面sql的感觉。

Python
因为时间紧，任务重，如果题目看不太明白，结合给出的例子或者和面试官交流，务必最短时间知道自己要干什么。题目只要写出来通过test case就行，时间空间复杂度什么的面试官不care，毕竟这个不是software engineer面试
[hide 188]
1. Fill the None value with previous non None value
[1, None, 1, 2, None] --> [1, 1, 1, 2, 2]
这个要特别注意None的情况

2. Complete a function that returns a list containing all the mismatched words(case sensitive) between two given input strings
find_mismatch("HOW ARE you", "How are you") --> ["HOW", "ARE", "How", "are"]
注意这里是case sensitive，所以ARE和are不相同

3. Complete a function that returns the number of times a given character occurs in the given string
find_occur('missisipi', 's') --> 3
设置一个counter，整个string扫一遍

4. Complete a function that returns the smallest key(sorted in ascending order alphabetically) of the given input dictionary containing nth hgihest value
dictionary: {'a': 1, 'b': 2, 'c': 100, 'd': 30}, n : 2 (2nd highest value)
output: 'd'
这个题目注意corner case，即n == 0 或者 highest value不存在的情况

5. Balance the array
Given an array with n elements provide a dictionary of all teh needed elements to balance the array as keys of that dictionary and number of repeated occurraences of each of those elements that are required to balance the given array as values
Balance array would be an array containing all elements that appear equal number of times

For example:
-- input array: [4, 5, 11, 5, 6, 11]
-- output: {4: 1, 6: 1}
-- We need 1 instance of elements 4 and 1 instance of element 6 in order to balance the given input array where each element would appear max 2 times

我的思路：
### get all the frequency of the elements
### get the maxium frequency
### loop through the dictionary
### if value < max
### include <key, max - value> into final dictionary
### return result
[/hide]

SQL
也是时间紧，任务中，尤其碰到拐弯抹角的题目， 不要慌，多和面试官沟通。。。
题目就是地里面之前大家分享过的题目，没有新题，没有新问法。我之前的准备目标是as long as it works，但是感觉面试时候需要你写出来最优解，或者接近最优解的解法，所以大家在准备的时候问问自己， 能不能优化代码，减少table join，table scan的次数？
window function没有考到，但大家还是熟悉一下，who knows。。。
另外，大家一定要好好练习case when的用法，因为题目中有很多这类的问题，算average， percentage，increate‍‍‍‍‍‍‍‌‌‌‍‍‍‌‌‍‍‌‌ rate之类的题目可以统统往上靠。

[hide 188]
我在一道求percentage of promotion的题目纠结了很久，我之前给出的答案结构类似
select(
select count(promotion) / select count(*)
) as percentage

但是面试官更想看到的是case when只用one scan得到结果
select avg(case when promotion then 1 else 0 end) as percentage

另外还有一个题目关于选既买了A又买了B的顾客，instead of 先选除买A的顾客，在选出买B的顾客，然后算交集，大家可以想一下如何用case when一次把结果做出来。
我的想法是：
select customer_id, case when product_id = 'A' then 1 else 0 end as product_a, case when product_id = 'B' then 1 else 0 end as product_b
from ...
group by customer_id
having sum(product_a) > 0 and sum(product_b) > 0
[/hide]

因为之前不熟悉case when的用法，所以sql给我第二次test，明显难度提高了，所以最后涉险过关。。大家好好练习一下高级语法，尤其是case when，争取第一轮顺利通过。

如果大家觉得帖子对自己面试过程中有启发，欢迎给我留言，加米，谢谢！

In [ ]:
4. Complete a function that returns the smallest key(sorted in ascending order alphabetically) of the given input dictionary containing nth hgihest value
dictionary: {'a': 1, 'b': 2, 'c': 100, 'd': 30}, n : 2 (2nd highest value)
output: 'd'
这个题目注意corner case，即n == 0 或者 highest value不存在的情况

In [300]:
# method without import any packages
def smallestkey(dt, N):
    if N == 0:
        return print("There is no highest value")
    else:
        highestN = dict(sorted(dt.items(), key = lambda x: x[1], reverse = True)[:N])
        smallestkey = min(highestN.items(), key = lambda x:x[1])[0]
        return smallestkey
mydict = {'a': 1, 'b': 2, 'c': 100, 'd': 30}
smallestkey(mydict, 2)

'd'

Glassdorr interview questions

https://www.glassdoor.com/Interview/SQL-Data-schema-was-provided-SQL-to-be-written-that-used-left-joins-nulls-in-filter-count-func-case-stmt-Python-crea-QTN_4543579.htm

#1. Create a histogram:

In [120]:
def my_histogram(ip_list):
    for i in ip_list:
        print(i*'*')

ip_list = [2, 3, 4, 5]
my_histogram(ip_list)

**
***
****
*****

#2. Flatten List using Recursive Function: Recursion is the process of defining something in terms of itself. https://www.programiz.com/python-programming/recursion
https://stackabuse.com/python-how-to-flatten-list-of-lists/

In [127]:
def flatten(S):
    if S == []:
        return S
    if isinstance(S[0], type(list)):
        return flatten(S[0]) + flatten(S[1:])
    return S[:1] + flatten(S[1:])
regular_list = [1, 2, [3, [4, [5]]]]
print(flatten(regular_list))

[1, 2, 3, 4, 5]

In [128]:
regular_list = [1, 2, [3, [4, [5]]]]
def flatten(ls):
    if len(ls) == 0:
        return ls
    if isinstance(ls[0], type(list)):
        return flatten(ls[0]) + flatten(ls[1:])
    return ls[:1] + flatten(ls[1:])
flatten(regular_list)

[1, 2, 3, 4, 5]

In [ ]:
#3. Remove dupes from a list

In [147]:
mylist = [1, 5, 3, 6, 3, 5, 6, 1]
list(set(mylist))

[1, 3, 5, 6]

In [152]:
mylist = [1, 5, 3, 6, 3, 5, 6, 1]
res = []
[res.append(i) for i in mylist if i not in res]
res

[1, 5, 3, 6]

#4. Count words in a sentence

In [203]:
# Method #1 : Using split()
# split function is quite useful and usually quite generic method to get words out of the list, 
# but this approach fails once we introduce special characters in the list.

from collections import Counter

def count_unq_words(ip_str):
    ip_str=ip_str.lower()
    ip_list=ip_str.split()
    op = Counter(ip_list)
    print(len(op))

ip_str="Count count words in a sentence"
count_unq_words(ip_str)

5

In [303]:
mylist = "Geeksforgeeks, is best @# Computer Science Portal.!!!"
len((mylist.lower()).split())

7

In [207]:
# using regex (findall())
import re

# initializing string
test_string = "Geeksforgeeks, is best @# Computer Science Portal.!!!"

# printing original string
print ("The original string is : " + test_string)

# using regex (findall())
# to count words in string
res = len(re.findall(r'\w+', test_string))

# printing result
res

The original string is : Geeksforgeeks, is best @# Computer Science Portal.!!!

6

In [208]:
# Regular expressions have to be used in case we require to handle the cases of punctuation marks or 
# special characters in the string. This is the most elegant way in which this task can be performed.
import re
res = len(re.findall(r'\w+', test_string))
res

6

    8. Count distinct words in a sentence

In [397]:
words = ['a', 'b', 'c', 'a']
unique_words = set(words)             # == set(['a', 'b', 'c'])
unique_word_count = len(unique_words) # == 3


len(set(["word1", "word1", "word2", "word3"]))
# set is like a list but it removes duplicates
# len counts the number of things inside the set

  9. Count the number of times a word appear in a sentence using a Hash Map

In [396]:
def count_w(ls):
    ct_dict = {}
    for i in ls.split(' '):
        if i in ct_dict:
            ct_dict[i] += 1
        else:
            ct_dict[i] = 1
    return ct_dict

my_list = "the quick brown fox jumps over the lazy dog."
count_w(my_list)

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog.': 1}

Complete a function that returns a list containing all the mismatched words (case sensitive) between two given input strings # For example: string 1 : "Firstly this is the first string" # - string 2 : "Next is the second string" # # - output : ['Firstly', 'this', 'first', 'Next', 'second']

In [63]:
def non_common(A, B):
    return set(A.split(' ')) ^ set(B.split(' '))

s1 = "Firstly this is the first string"
s2 = "Next is the second string"

non_common(s1, s2)

{'Firstly', 'Next', 'first', 'second', 'this'}

Given an array of integers, we would like to determine whether the array is monotonic (non-decreasing/non-increasing) or not. Examples:

In [64]:
def montonic(A):
    return (all(A[i] >= A[i+1] for i in range(len(A)-1)) or all(A[i] <= A[i+1] for i in range(len(A)-1)))
#     return (all(A[i] <= A[i+1] for i in range(len(A)-1)) or all(A[i] >= A[i+1] for i in range(len(A)-1)))
s = [1, 2, 5, 5, 8]
montonic(s)

True

In [130]:
def montonic(A):
    return all(A[i] >= A[i+1] for i in range(len(A)-1)) or all(A[i] <= A[i+1] for i in range(len(A)-1))
s = [9, 2, 5, 5, 8]
montonic(s)

False

In [65]:
string1 = "Firstly this is the first string"
string2 = "Next is the second string"

s1 = set(string1.split())
s2 = set(string2.split())
ls = sorted(s1.symmetric_difference(s2))
print("common words list: ",s1&s2)
print("uncommon words list: ",ls)

common words list:  {'string', 'is', 'the'}
uncommon words list:  ['Firstly', 'Next', 'first', 'second', 'this']

In [68]:
def uncommon(A, B):
    return set(A.split(' ')) ^ set(B.split(' '))

uncommon(string1, string2)

{'Firstly', 'Next', 'first', 'second', 'this'}

Given an ip address as an input string, validate it and return True/False

In [238]:
def isgoodipv4(s):
    pieces = s.split('.')
    if len(pieces) != 4: 
        return False
    try: return all(0<=int(p)<256 for p in pieces)
    except ValueError: 
        return False

In [413]:
def validate_ip(s):
    a = s.split('.')
    if len(a) != 4:
        return False
    for x in a:
        if not x.isdigit():
            return False
        i = int(x)
        if i < 0 or i > 255:
            return False
    return True

In [137]:
def validate_ip(s):
    a = s.split('.')
    if len(a) != 4:
        return False
    for x in a:
        if not x.isdigit():
            return False
        i = int(x)
        if i <0 or i>255:
            return False
    return True
ipv4 = "192.168.2.266"
validate_ip(ipv4)

False

In [417]:
ipv6 = "2001:0db8:0a0b:12f0:0000:0000:0000:0001"
ipv4 = "192.168.2.10"
ipv4invalid = "266.255.9.10"
str = "Tay Tay"

In [415]:
validate_ip(ipv4)

True

In [416]:
ipv4 = "192.168.2.10"
ipv4.split('.')

['192', '168', '2', '10']

13. want you to write me a simple spell checking engine.
    The query language is a very simple regular expression-like language, with one special character: . (the dot character), which means EXACTLY ONE character (it can be any character). So, for example, 'c.t' would match 'cat' as the dot matches any character. There may be any number of dot characters in the query (or none).
    Your spell checker will have to be optimized for speed, so you will have to write it in the required way. There would be a one-time setUp() function that does any pre-processing you require, and then there will be an isMatch() function that should run as fast as possible, utilizing that pre-processing.
    There are some examples below, feel free to ask for clarification.
    Word List: [cat, bat, rat, drat, dart, drab]
    Queries:
    cat -> true
    c.t -> true
    .at -> true
    ..t -> true
    d..t -> true
    dr.. -> true
    ... -> true
    .... -> true
    ..... -> false
    h.t -> false
    c. -> false
    */
    // write a function
    // Struct setup(List<String> list_of_words)
    // Do whatever processing you want here
    // with reasonable efficiency.
    // Return whatever data structures you want.
    // This function will only run once
    // write a function
    // bool isMatch(Struct struct, String query)
    // Returns whether the query is a match in the
    // dictionary (True/False)

In [366]:
# one-time setUp() function that does any pre-processing you require
def setUp(word, input_list):
#     word = word.strip()
    temp_list = []
    Ismatch = False
    if word in input_list:
        Ismatch = True
    elif word is None or len(word) == 0:
        Ismatch = False
    else:
        for w in input_list:
            if len(w) == len(word):
                temp_list.append(w)
                for j in range(len(temp_list)):
                    count=0
                    for i in range(len(word)):
                        if word[i] == temp_list[j][i] or word[i] == '.':
                            count += 1
                        else:
                            break
                    if count == len(word):
                        Ismatch = True
    print(Ismatch)
# there will be an isMatch() function that should run as fast as possible, utilizing that pre-processinG
def isMatch(word, input_list):
    return setUp(word, input_list)


isMatch('c.t', ['cat', 'bte', 'art', 'drat', 'dart', 'drab'])

True

In [150]:
# one-time setUp() function that does any pre-processing you require
def setUp(word, input_list):
    temp_list = []
    isMatch = False
    if word in input_list:
        isMatch = True
    elif word is None:
        isMatch is False
    else:
        for w in input_list:
            if len(word) == len(w):
                temp_list.append(w)
                for j in range(len(temp_list)):
                    ct = 0
                    for i in range(len(word)):
                        if word[i]==temp_list[j][i] or word[i] == '.':
                            ct += 1
                        else:
                            break
                    if len(word) == ct:
                        isMatch = True
    print(isMatch)
# there will be an isMatch() function that should run as fast as possible, utilizing that pre-processing
def isMatch(word, input_list):
    return setUp(word, input_list)

isMatch('.. .', ['cat', 'bte', 'art', 'drat', 'dart', 'drab'])

False

In [190]:
def setUp(word, s):
    temp = []
    match = False
    if word in s:
        match = True
    elif word is None:
        match = False
    else:
        for w in s:
            if len(w) == len(word):
                temp.append(w)
                for j in range(len(temp)):
                    ct = 0
                    for i in range(len(word)):
                        if word[i] == temp[j][i] or word[i] == '.':
                            ct += 1
                        else:
                            break
                    if ct == len(word):
                        match = True
    return match
    
def isMatch(word, input_list):
    return setUp(word, input_list)

In [191]:
isMatch('sssss', ['cat', 'bte', 'art', 'drat', 'dart', 'drab'])

False

In [412]:
# Avg length of words, some of the edge cases are having spaces in the beginning and end of the words, 
#returning a float instead of int, 
# returning None for blank input.
ls = "     "

def avg_len(ls):
    if len(ls.strip()) == 0:
        print("None") 
    else:
        res = [len(i) for i in ls.strip().split(' ')]
        avg_len = sum(res)/float(len(res))
        return avg_len

avg_len(ls)

None

In [395]:
def ct_fre(c, st):
    ct = 0
    for i in range(len(st)):
        if c == st[i]:
            ct += 1
    return ct

ct_fre('s', 'ssky')

2

## 一亩三分地

https://www.1point3acres.com/bbs/thread-663905-1-1.html

In [193]:
mylist = [4, 5, 11, 5, 6, 11]

def balance(ls):
    occ_dict = {}
    for i in ls:
        if i in occ_dict:
            occ_dict[i] += 1
        else:
            occ_dict[i] = 1
#     print(occ_dict)
    max_occ = max(occ_dict.items(), key = lambda x: x[1])[1]
#     print(max_occ)
    new_dict = {}
    for k, v in occ_dict.items():
        if v < max_occ:
            new_dict[k] = max_occ - v
    return new_dict

balance(mylist)

{4: 1, 6: 1}

In [311]:
mylist = [4, 5, 11, 5, 6, 11]

import collections
def balance(ls):
    occ_dict = dict(Counter(ls))
    max_occ = max(Counter(ls).values())
    new_dict = {}
    for k, v in occ_dict.items():
        if v < max_occ:
            new_dict[k] = max_occ - v
    return new_dict

balance(mylist)

{4: 1, 6: 1}

In [271]:
mylist = [1, None, 1, 2, None] 

def replaceNone(ls):
    res = []
    p = None
    for i in ls:
        if i is not None:
            p = i
            res.append(i)
        else:
            res.append(p)
            
    return res

replaceNone(mylist)

[1, 1, 1, 2, 2]

In [70]:
A = "HOW ARE you" 
B =  "How are you"

def mismatch(A, B):
    return set(A.split(' ')) ^ set(B.split(' '))

mismatch(A, B)

{'ARE', 'HOW', 'How', 'are'}

In [276]:
def occur(ls, l):
    occ = 0
    for i in ls:
        if i == l:
            occ+=1
    return occ

occur('missisipi', 's')

3

Log: SL finished all 5 questions above within 20 min on 9/3/2021 3:09pm

In [ ]:
select avg(
    case
    when promotion then 1
    else 0
    end) as percentage

In [ ]:
select customer_id, case when product_id = 'A' then 1 else 0 end as product_a,
case when product_id = 'B' then 1 else 0 
end as product_b
from
group by customer_id
having sum(product_a) > 0 and sum(product_b) > 0

In [281]:
1619*0.9

1457.1000000000001

## SQL

https://leetcode.com/discuss/interview-question/807990/facebook-sql-questions-de

In [ ]:
sales
+------------------+---------
| product_id | INTEGER
| store_id | INTEGER |
| customer_id | INTEGER |
| promotion_id | INTEGER |
| store_sales | DECIMAL |
| store_cost | DECIMAL |
| units_sold | DECIMAL |
| transaction_date | DATE |

products
+------------------+---------
| product_id | INTEGER |
| product_class_id | INTEGER |
| brand_name | VARCHAR |
| product_name | VARCHAR |
| is_low_fat_flg | TINYINT |
| is_recyclable_flg | TINYINT |
| gross_weight | DECIMAL |
| net_weight | DECIMAL |

promotions |
+------------------+---------+
| promotion_id | INTEGER|
| promotion_name | VARCHAR |
| media_type | VARCHAR |
| cost | DECIMAL |
| start_date | DATE |
| end_date | DATE |

product_classes
+------------------+---------+
| product_class_id | INTEGER |
| product_subcategory | VARCHAR |
| product_category | VARCHAR |
| product_department | VARCHAR |
| product_family | VARCHAR |

1. What percent of all products in the grocery chain's catalog are both low fat and recyclable?

In [ ]:
select count(case when is_low_fad_flg = 'Y' and is_recyclable_flg = 'Y' then prodeuct_id end)*100/count(product_id)
as perctg
from Products

In [ ]:
select avg(case when is_low_fat = 'Y' and is_recyclabe_fls = 'Y' then 1 else 0 end) as avg from Products

2. Find top 5 sales products having promotions

In [ ]:
select product_id
from sales
where promotion_id is not null
group by product_id
order by sum(store_sales * units_sold) desc
limit 5;

3. what %age of sales happened on first and last day of the promotion
Not sure if this asked for all promotions or % for each promotion. in case all

Q:
    请问是这个意思吗？
在所有promotion的order中， 发生在promotion第一天和最后一天的比例？
先inner join promotion和sales表, 得到所有的transactions with promotion，然后case when选出发生在第一天和最后一天的transaction, 再除以transactions with promotion的总数

还是说，
要求的是，（最后一天+第一天的transactions with promotion） / （最后一天和第一天所有的transactions，不考虑是否promotion）

sorry感觉这个问题有点tricky，问得比较细。谢谢楼主的回答

A:
对，是前者，在所有promotion的order中，但这里不要用除法了，这个会被诟病的。用avg就好了

In [ ]:
# Great solution using Avg in SQL + inner join

select avg(case when s.transcation_date = min(p.start_date) or s.transcation_date = max(p.end_date) then 1 else 0 end)
from sales s
left join promotions p
on s.product_id  = p.product_id
where s.promotion_id is not null
order by s.product_id;

Q4. Which product had the highest sales with promotions and sales ( basically a where clause on 2 flags)

In [ ]:
# The following answer makes more sense, it use store costs as promotion discount

In [ ]:
 select s.product_id, p.product_name, sum (s.store_cost * s.units_sold) 
 from sales s, product p
 where s.product_id = p.product_id and s.product_id is not null
 group by s.product_id , p.product_name
 order by sum (s.store_cost * s.units_sold) desc;

Q5. What are the top five (ranked in decreasing order) single-channel media types that correspond to the most money the grocery chain had spent on its promotional campaigns?

In [ ]:
select media_type
from promotions
where media_type not like '%,%'
group by media_type
order by sum(cost) desc
limit 5

In [ ]:
select promotion_name, sum(cost) as total_cost
from promotions
where media_type not like '%,%'
group by promotion_name
order by total_cost desc
limit 5

In [ ]:
Q6. the proportion of valid sales that occurred on certain dates.

In [ ]:
select sum(case 
           when transcation_date = '2012-07-15'
           then store_sales end)*100/float(sum(store_sales))
from sales
order by product_id;

In [ ]:
select avg( case when transcation_date = '2021-07-15' then 1 else 0 end)
from sales
where promotion_id is not null
order by promotion_id

Q7. Manager want to analyze the how the promotions on certain products are performing.find how the the percent of promoted sales?

# Method 1 using count
count of promoted sales* 100 / count(*)

In [ ]:
我在一道求percentage of promotion的题目纠结了很久，我之前给出的答案结构类似
select(
select count(promotion) / select count(*)
) as percentage

但是面试官更想看到的是case when只用one scan得到结果
select avg(case when promotion then 1 else 0 end) as percentage

In [315]:
import numpy as np
promotion_list = [0, 1, 0, 1, 1, 1]
np.mean(promotion_list)

0.6666666666666666

In [ ]:
# 1.Method using avg in SQL
select avg(case
           when promotion_id is not null 
           then 1 else 0 end) as percentage
from sales
order by product_id;

In [ ]:
# 2. Method using sum/total
select sum(case
           when promotion_id is not null 
           then store_sales end)*100/float(sum(store_sales))
from sales
order by product_id;

In [ ]:
Q8. Get the top3 product class_id by the total sales.

In [ ]:
select s.product_class_id 
from sales s
left join products p
where s.product_class_id = p.prodyct_class_id
group by s.product_class_id
order by sum(store_sales) desc
limit 3

In [ ]:
Q9: Count of Customers who bought 2 items type (A,B)
还有一个题目关于选既买了A又买了B的顾客，instead of 先选除买A的顾客，在选出买B的顾客，然后算交集，大家可以想一下如何用case when一次把结果做出来。
我的想法是：

In [ ]:
# Great solution!
SELECT customer_id
FROM Sales
WHERE product_id IN('A', 'B')
GROUP BY customer_id
HAVING COUNT(DISTINCT product_id) = 2

In [ ]:
select customer_id
from sales
where product_id in ('A', 'B')
order by customer_id
having count(distinct product_id) = 2

In [ ]:
select customer_id,
case when product_id = 'A' then 1 else 0 end as product_a,
case when product_id = 'B' then 1 else 0 end as product_b
from sales
group by product_id
having product_a > 0 and product_b > 0;

In [ ]:
select ID from Orders o
left join Salesperson s
on s.ID = o.salesperson_id
group by o.salesperson_id
having count(o.Number) > 1

## Codepad

In [ ]:
"""
Write a function that returns the elements on odd positions (0 based) in a list
"""
def solution(input):
          #code goes here
          return output

In [37]:
def odd_ls(ls):
    res = []
    for i, j in enumerate(ls):
        if i % 2 != 0:
            res.append(j)
    return res

In [38]:
odd_ls([0,1,2,3,4,5])

[1, 3, 5]

In [27]:
"""
Write a function that takes a number and returns a list of its digits
"""
num = 103
digits = [int(i) for i in str(num)]
digits

[1, 0, 3]

In [34]:
def centered_average(nums):
    trim = sorted(nums)[1:-1]
    return sum(trim) / len(trim)

nums = [-10, -4, -2, -4, -2, 0]
centered_average(nums)

-3.0

In [33]:
import numpy
numpy.mean([1, 5, 5, 8, 7])

5.2

In [36]:
def cum(ls):
    new_ls = []
    j =0
    for i in range(len(ls)):
        j = j + ls[i]
        new_ls.append(j)
    return new_ls

cum([1,1,1])

[1, 2, 3]

In [ ]:
## SQL

select dictinct(s.Name)
from Sales s
join Orders o
on s.ID = o.salesperson_id
join Customer c
on c.ID = o.cust_id
where c.Name = 'Samsonic';

In [ ]:
select dictinct(s.Name)
from Salesperson s
join Orders o
on s.ID = o.salesperson_id
join Customer c
on c.ID = o.cust_id
where NOT c.Name = 'Samsonic';

In [ ]:
select s.Name
from Orders o
left join Salesperson s
on s.ID = o.salesperson_id
group by s.Name
having count(o.number) >= 2;

In [ ]:
select s.Name
from Orders o
left join Salesperson s
on s.ID = o.salesperson_id
group by s.Name
having sum(o.Amount) > 1400

In [ ]:
select min(o.order_date), max(o.order_date)
from Orders o
left join Salesperson s
on s.ID = o.salesperson_id
left join Customer s
on c.ID = o.cust_id
where c.Name = 'Samony'

In [72]:
def replace_none(ls):
    res = []
    prev = None
    for i in ls:
        if i is not None:
            i = prev
            res.append(i)
        else:
            res.append(prev)
    return res
a = [1, None, 2, None, None, 5, Ne]
replace_none(a)

NameError: name 'Ne' is not defined

In [81]:
nums = [1, 3, 4, 1, 7, 8, 3 , 2, 4, 5, 7, 2, 3, 5, 6, 4, 2, 8, 5]

def balance(nums):
    occ_dt = {}
    for i in nums:
        if i is in occ_dt:
            occ_dt[i] +=1
        if i is not in occ_dt:
            occ_dt[i] = 1
    max_occ = max(0cc_dt.items(), key = lambda x: x[1])[1]
    new_dt = {}
    for i in occ_dt:
        if occ_dt[i] < max_occ:
            new_dict[i] = max_occ - occ_dt[i]
    return new_dt

SyntaxError: invalid syntax (<ipython-input-81-152876403ba8>, line 6)

In [74]:
a = [1, None, 2, None, None, 5, None]

def replace_none(ls):
    prev = 0
    res = []
    for i in ls:
        if i is not None:
            prev = i
            res.append(i)
        else:
            res.append(prev)
    return res
replace_none(a)

[1, 1, 2, 2, 2, 5, 5]

In [83]:
nums = [1, 3, 4, 1, 7, 8, 3 , 2, 4, 5, 7, 2, 3, 5, 6, 4, 2, 8, 5]

def balance_dt(ls):
    if len(ls) == 0:
        return None
    occ = {}
    for i in ls:
        if i in occ:
            occ[i] += 1
        else:
            occ[i] = 1
    max_occ = max(occ.items(), key = lambda x: x[1])[1]
    new_dt = {}
    for k, v in occ.items():
        if v < max_occ:
            new_dt[k] = max_occ - v
    return new_dt
balance_dt(nums)

{1: 1, 7: 1, 8: 1, 6: 2}

In [89]:
def avg_len(ls):
    if len(ls) == 0:
        return print('None')
    else:
        l = [len(i) for i in ls.strip().split(' ')]
        avg_len = sum(l)/len(l)
        return avg_len
    
ls = ""
avg_len(ls)

None

In [107]:
def uncommon(A, B):
    return set(A.split(' ')) ^ set(B.split(' '))

def uncommon(a, b):
    list((set(a).union(set(b))).difference(set(a).intersection(set(b))))

In [105]:
def uncommon(A, B):
    a = A.split(' ')
    b = B.split(' ')
    return ((set(a)).union(set(b)).difference(set(b).intersection(set(b))))